#history {
	width: 100%;



	.team {
		padding: 0 0 50px 0;
		border-bottom: 1px solid #d5d5d5;
		margin: 0 0 50px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&:last-of-type {
			padding: 0;
			border-bottom: none;
			margin: 0;
		}

		.header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0 20px 0;

			@include tablet-landscape {
				padding: 0 0 40px 0;
			}

			h2 {
				color: $green;
				text-transform: uppercase;
				font-size: 2em;

				@include tablet-portrait {
					font-size: 3em;
				}
			}

			h3 {
				color: $gold;
				text-transform: uppercase;
				font-size: 1.25em;
				max-width: 70%;

				@include tablet-portrait {
					font-size: 1.75em;
					max-width: none;
				}
			}

			.finish {
				span {
					color: $gold;
					text-transform: uppercase;
					font-size: 1.25em;
					font-weight: bold;
					font-family: $brothers;
					display: inline-block;
					min-width: 120px;
					text-align: right;
	
					@include tablet-portrait {
						font-size: 1.5em;
					}


					&.medal {
						padding: 0 0 0 32px;
						background-repeat: no-repeat;
						background-position: center left;

						&.gold {
							background-image: url(images/gold.svg);
						}

						&.silver {
							background-image: url(images/silver.svg);
						}

						&.bronze {
							background-image: url(images/bronze.svg);
						}

					}
				}
			}
		}

		.photo {
			width: 100%;
			padding: 0 0 30px 0;

			@include tablet-landscape {
				width: 50%;
			}

			img {
				width: 100%;
			}


			#results {
				padding: 50px 0 0 0;


				h2 {
					color: $green;
					font-size: 2.25em;
					text-transform: uppercase;
					padding: 0 0 20px 0;
				}

				.time,
				.link  {
					display: none;
				}

				.match-up {
					width: 100%;
					align-items: center;

					.versus {
						width: 30%;
						font-size: 1.25em;
					}

					.usa,
					.opponent {
						font-size: 1.125em;
						width: 30%;
						max-width: 200px;
					}

				}
			}
		}

		.info {
			width: 100%;
			
			@include tablet-landscape {
				width: 40%;
				margin: 0 0 0 auto;
			}

			#roster > div {
				padding: 0 0 50px 0;
			}

			h4 {
				text-transform: uppercase;
				font-family: $source-sans-pro;
				font-size: 0.875em;
				padding: 0 0 10px 0;
			}

			.player {
				display: flex;
				padding: 10px 0;
				width: 100%;
				justify-content: space-between;
				border-bottom: 1px solid #eee;
			}

			#roster > div > .player:last-of-type {
				border-bottom: none;
			}

			span {
				font-size: 0.875em;
				display: block;
				line-height: 1.625em;

				&.city {
					text-align: right;
				}

			}

		}
	}


}