body.single-callahan {

	section#main {

		.back {
			width: 100%;
			padding: 0 0 50px 0;

			a {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.75em;
				letter-spacing: 0.05em;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		article {


			#bio {

				img {
					float: left;
					max-width: 150px;
					margin: 10px 20px 20px 0;
				}
				p {
					font-family: $merriweather;
					font-size: 0.9375em;
					line-height: 1.75em;
				}

				ul, ol {
					margin: 0 0 30px 30px;

					li {
						margin: 0 0 10px 0;
						font-family: $merriweather;
						font-size: 0.875em;
						line-height: 1.5em;
					}
				}

				ul {
					list-style-type: disc;
				}

				ol{
					list-style-type: decimal;
				}

				h4 {
					padding: 0 0 10px 0;
					font-family: $source-sans-pro;
					font-size: 1.25em;
					text-transform: uppercase;
					letter-spacing: 0.02em;
				}

				.btn {
					display: inline-block;
					font-size: 1em;
				}
			}


		}

		.aside-wrapper {
			justify-content: flex-start;

			@include tablet-landscape {
				padding: 0 0 0 40px;
			}
		}

		aside#vitals {
			width: 100%;

			h3 {
				padding: 0 0 10px 0;
				font-size: 1.25em;
				border-bottom: 2px solid;
				letter-spacing: 0.02em;
				font-family: $source-sans-pro;

				& + h5 {
					padding-top: 20px;
				}
			}


			h5 {
				font-family: $source-sans-pro;
				font-size: 0.875em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding-bottom: 5px;
			}

			p {
				padding: 0 0 40px 0;
				font-size: 1.125em;
			}
		}

	}

	section#sponsors,
	section#media-partners {
		display: none;
	}
}