body.template-support-the-team {

	#social {
		display: flex;
		margin-left: auto;
		flex-wrap: wrap;
		align-items: center;

		h3 {
			width: 100%;
		}


		a.social {
			width: 32px;
			height: 32px;
			display: block;
			margin: 0 20px 0 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 100%;

			&.twitter {
				background-image: url(images/twitter.svg);
			}

			&.instagram {
				background-image: url(images/instagram.svg);
			}

			&.facebook {
				background-image: url(images/facebook.svg);
			}
		}

	}


}